[user]
	name = Minoru Miyata
	email = miyarappo@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
	st = status
	br = branch
	st = status
	co = commit
	ch = checkout
	f = fetch -p
	l = log --graph --oneline --all
